/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-drawer-container {
  background-color: #90b2b9;
}

/******************** Global Styling Here **********************
***************************************************************/
.col-6 {
  mat-checkbox {
    max-width: calc(100% / 3);
    width: 100%;
  }
}

/********************* Register & Login ***********************
***************************************************************/
login, register {
  max-width: 360px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 100vh;

  #loginForm, #registerForm {
    padding: 15px;
  }

  .info-link a {
    color: #000;
  }
}
